---
import '../styles/global.css';
const base = import.meta.env.BASE_URL;
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>3D Station</title>
<meta
  name="description"
  content="3D Station is a 3D printing service that provides high-quality 3D printing services to the public."
/>
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<meta name="author" content="3D Station" />

<!-- Favicons -->
<link rel="icon" href={`${base}favicon.ico`} sizes="any" />
<link rel="icon" type="image/png" sizes="16x16" href={`${base}favicon-16x16.png`} />
<link rel="icon" type="image/png" sizes="32x32" href={`${base}favicon-32x32.png`} />
<link rel="apple-touch-icon" sizes="180x180" href={`${base}apple-touch-icon.png`} />
<link rel="icon" type="image/png" sizes="192x192" href={`${base}android-chrome-192x192.png`} />
<link rel="icon" type="image/png" sizes="512x512" href={`${base}android-chrome-512x512.png`} />
<link rel="manifest" href={`${base}site.webmanifest`} />

<!-- Favicon for IE -->
<link rel="shortcut icon" href={`${base}favicon.ico`} type="image/x-icon" />

<!-- Favicons for different sizes -->
<link rel="icon" type="image/png" sizes="48x48" href={`${base}favicon-48x48.png`} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.3dstation.shop/" />
<meta property="og:title" content="3D Station" />
<meta
  property="og:description"
  content="3D Station is a 3D printing service that provides high-quality 3D printing services to the public."
/>
<meta property="og:image" content={`https://www.3dstation.shop${base}Logo3D.png`} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://www.3dstation.shop/" />
<meta property="twitter:title" content="3D Station" />
<meta
  property="twitter:description"
  content="3D Station is a 3D printing service that provides high-quality 3D printing services to the public."
/>
<meta property="twitter:image" content={`https://www.3dstation.mk${base}Logo3D.png`} />

<!-- Canonical URL -->
  <link rel="canonical" href="https://www.3dstation.shop/" />

<!-- Additional SEO -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Apple Touch Icon (already included in favicons, but keeping for backwards compatibility) -->
<link rel="apple-touch-icon" sizes="180x180" href={`${base}apple-touch-icon.png`} />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#3E433E" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />



<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
